<div class="displayTable">
  <table st-table="fav.displayFavorites" st-safe-src="fav.favoritesList" class="table wish-table table-striped table-hover table-responsive">
    <h5 class="text-center">{{fav.page_title}}</h5>
    <thead>
      <tr>
        <th></th>
        <th st-sort="title" class="sortable">Title</th>
        <th st-sort="author" class="sortable">Author</th>
        <th st-sort="series" class="sortable">Series</th>
        <th><i class="fa fa-lg fa-star"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th></th>
        <th>
          <input type="search" st-search="title" placeholder="Search by Title" class="input-sm form-control" />
        </th>
        <th>
          <input type="search" st-search="author" placeholder="Search by Author" class="input-sm form-control" />
        </th>
        <th colspan="2">
          <input type="search" st-search="series" placeholder="Search by Series" class="input-sm form-control" />
        </th>
      </tr>
      <tr ng-repeat-start="book in fav.displayFavorites">
        <td>
          <i class="fa fa-lg fa-plus-square-o" ng-hide="fav.expanded == book.book_id" ng-click="fav.showHideDetails(book)"></i>
          <i class="fa fa-lg fa-minus-square" ng-show="fav.expanded == book.book_id" ng-click="fav.showHideDetails(book)"></i>
        </td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.series }}</td>
        <td><i class="fa fa-star" ng-click="fav.removeFavStar(book)" title="Remove from Favorites"></i></td>
      </tr>
      <tr ng-show="fav.expanded == book.book_id" ng-repeat-end="">
        <td colspan="6">
          <div class="col-md-3 col-xs-6">
            <label>Title</label><span> {{ book.title }}</span> <br />
            <label>Author</label><span> {{ book.author }}</span> <br />
            <label>Series</label><span> {{ book.series }}</span> <br />
            <label>Published</label><span> {{ book.published | date }}</span> <br />
            <label>Publisher</label><span> {{ book.publisher }}</span> <br />
            <label>Language</label><span> {{ book.languages }}</span> <br />
            <label>Plot</label><br />
            <span> {{ book.plot }}</span> <br />
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
