<div class="displayTable">
  <table st-table="fav.displayFavorites" st-safe-src="fav.favoritesList" class="table wish-table table-striped table-hover table-responsive">
    <h5 class="text-center">{{fav.page_title}}</h5>
    <thead>
      <tr>
        <th st-sort="title" class="sortable">Title</th>
        <th st-sort="author" class="sortable">Author</th>
        <th st-sort="series" class="sortable">Series</th>
        <th><i class="fa fa-lg fa-star"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>
          <input type="search" st-search="title" placeholder="Search by Title" class="input-sm form-control" />
        </th>
        <th>
          <input type="search" st-search="author" placeholder="Search by Author" class="input-sm form-control" />
        </th>
        <th colspan="2">
          <input type="search" st-search="series" placeholder="Search by Series" class="input-sm form-control" />
        </th>
      </tr>
      <tr ng-repeat="book in fav.displayFavorites">
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.series }}</td>
        <td><i class="fa fa-star" ng-click="fav.removeFavStar(book)" title="Remove from Favorites"></i></td>
      </tr>
    </tbody>
  </table>
</div>
