<table class="table favorites-table">
  <thead>
    <tr>
      <th class="all sorting">Title</th>
      <th class="all sorting">Author</th>
      <th class="all sorting">Series</th>
      <th class="all sorting"><i class="fa fa-lg fa-star"></i></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="book in fav.favoritesList">
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.series }}</td>
      <td><i class="fa fa-star" ng-click="fav.removeFav(book)"></i></td>
    </tr>
  </tbody>
</table>
