<table class="table borrowed-table">
  <h5>{{lent.page_title}}</h5>
  <thead>
    <tr>
      <th class="all sorting">Title</th>
      <th class="all sorting">Author</th>
      <th class="all sorting">Series</th>
      <th class="all sorting">Lent to</th>
      <th class="all sorting">Due Date</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="book in lent.lendingList.curr track by $index">
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.series }}</td>
      <td>{{ book.first_name }} {{ book.last_name }}</td>
      <td>{{ book.due_date_string }}</td>
    </tr>
  </tbody>
</table>
<div>
  <h5>Borrowing History</h5>
  <p ng-repeat="book in lent.lendingList.past track by $index">
    Loaned <i>{{ book.title }}</i> on {{ book.date_initial_string }} to {{ book.first_name }} {{ book.last_name }}, returned on {{ book.date_returned_string }}
  </p>
</div>
