<div class="registerPage">
  <h1>REGISTER</h1>
  <form ng-submit="reg.regUser()" class="well registerForm">
    <div class="registerPortal">
      <div class="registerInput">
        <input type="text" name="firstname" id="firstname" placeholder="First Name" ng-model="reg.newUser.firstName"/>
      </div>
      <div class="registerInput">
        <input type="text" name="lastname" id="lastname" placeholder="Last Name" ng-model="reg.newUser.lastName"/>
      </div>
      <div class="registerInput">
        <input type="text" name="email" id="email" placeholder="Enter your Email Address" ng-model="reg.newUser.email"/>
      </div>
      <div class="registerInput">
        <input type="password" name="password" id="password" placeholder="Enter a password" ng-model="reg.newUser.password"/>
      </div>
      <div class="registerInput">
        <input type="submit" value="Register" class="btn btn-md registerBtn"/> <br />
        <a href="/login" class="navLabels">Back to Login</a>
      </div>
    </div>
  </form>
</div>
